<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', path='/css/main.css')}}" rel="stylesheet" media="screen">
  </head>

  <body>

    <section class="section">
      <nav class="level">
        <div class="level-item has-text-centered" style="display: block;">
          <h1 class="title is-spaced" style="margin-bottom: 2rem;">
            Marvel API statistics
          </h1>
          <p class="subtitle is-spaced">{{ total }} characters retrieved</p>
        </div>
      </nav>
    </section>

    <!-- Inserts -->
    <section class="section">
    {% block data %}
    {% endblock %}
    </section>

  </body>
</html>
